<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 1</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="body">

    <!--Navbar-->
    <section class="section-1-detail">
        <nav class="nav-container">
            <div class="logo">Logo</div>
            <div class="menu">
                <div class="item-menu">About</div>
                <div class="item-menu">Articles</div>
                <div class="item-menu">Subscribe</div>
            </div>
        </nav>
    </section>

    <!--Articles-->
    <section class="section-2-detail">
        <div style="width: 50%; float: left;">
            <img src="./assets/image/about.jpg" height="447px" width="669px">
        </div>
        <div class="about-container-detail" style="width: 50%; float: right;">
            <h2 class="title-2" style="font-size: 48px;">The Articles</h2>
                <p style="width: 474px ; text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
        </div>
    </section>

    <!--More Images-->
    <section class="section-3-detail">
        <div class="title-container2">
            <h2 class="title-2" style="font-size: 32px;">More Images</h2>
        </div>
        <div class="content-box">
            <div class="card-detail">
                <img src="./assets/image/box3.jpg", width="300px", height="200px", style="object-fit: cover;">
            </div>

            <div class="card-detail" style="margin-right: 50px; margin-left: 50px;">
                <img src="./assets/image/box2.jpg", width="300px", height="200px", style="object-fit: cover;">
            </div>

            <div class="card-detail">
                <img src="./assets/image/box1.jpg", width="300px", height="200px", style="object-fit: cover;">
            </div>
        </div>
    </section>

    <!--ABOUT-->
    <section class="section-3" style="margin-top: 100px; ">
        <div class="about-container" style="width: 50%; float: left; margin-left: 50px;">
            <h2 class="title-2">ABOUT</h2>
                <div class="line-2" style="margin-top: 10px;"></div>
                <p class="title-card" style="margin-top: 25px; margin-right: 30px; text-align: justify; width: 500px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
        </div>
        <div style="width: 895px; height: 597px; float: right; margin-right: -200px;">
            <img src="./assets/image/about.jpg" height="580px" width="640px">
        </div>
    </section>

    <!--SUBSCRIBE-->
    <section class="section-4"> 
        <div class="subscribe-container">
            <h2 class="title-2">SUBSCRIBE</h2>
            <h2 class="subtitle" style="font-size: 12px; margin-top: 0px;">sign up to our newsletters</h2>
            <form action="">
                <input type="text" placeholder="You email here.." class="">
            </form>
            <button class="btn-submit">SUBMIT</button>
        </div>
    </section>

    <!--NAV-BOTTOM-->
    <section class="section-5">
        <nav class="nav-container">
            <div class="menu">
                <div class="bottom-menu">About</div>
                <div class="bottom-menu">Articles</div>
                <div class="bottom-menu">Home</div>
            </div>
        </nav>
    </section>

</body>

</html>